html,body{
    height: 100%
}
.topic{
  height: 200px;
  
}
.announcement{
  height: 300px;
}
.notes, .books{
	height:300;
	width:400;
  
}


.YearWise{
	height: 200px;
	align-items: center;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  float: left;
}
.dropbtn{
cursor: pointer;
}
.dropdown-item {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 2;
}

.dropdown:hover .dropdown-item {
  display: block;
}
.Note_form{
	margin-left: 100px;
}
.signup{
  width: 500;
  }
  



  @media screen and (min-width: 769px) and (max-width: 1200px) {
    footer{
      width:100%;
    }