{% load static %}
	<!DOCTYPE html>
	<html>
	<head>
		<title>
			Study Gallery
			</title>
			<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



<link rel="stylesheet" type="text/css" href="{% static 'Notes/css/style.css' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.7.0/js/bootstrap.min.js"></script>





<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<link rel="stylesheet" type="text/css" href="{% static 'Notes/css/style.css' %}">
        
	<style>
.jumbo{
        background-image:url({% static 'Notes/images/background.jpg' %});
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        height: 600;
    }
</style>	
	</head>
	<body>
    <body data-spy="scroll" data-target="#navScrollspy">
    	<nav class="navbar bg-primary navbar-dark navbar-expand-md ">
    		<a href="#" class="navbar-brand"><i class="fa fa-user-graduate"></i>GOD FOR COLLEGE STUDENT(GCS)</a>
    		<button type="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    		<div class="collapse navbar-collapse" id="
    		navbarNav">
    		<ul class="navbar-nav" id="navScrollspy">
    			<li class="nav-item">
    				<a href="{% url 'home' %}" class="nav-link">Home</a>
    			</li>
    			
    			<li class="nav-item">
    				<a href="{% url 'notes' %}" class="nav-link">Notes</a>
    			</li>
    			<li class="nav-item">
    				<a href="{% url 'books' %}" class="nav-link">Books PDF</a>
    			</li>
    			<li class="nav-item">
    				<a href="{% url 'papers' %}" class="nav-link">Exam Papers</a>
    			</li>
    			<li class="nav-item">
    				<a href="#" class="nav-link">Faculty List</a>
    			</li>
    			<li class="nav-item">
    				<a href="#" class="nav-link">Announcements</a>
    			</li>
    			<li class="nav-item dropdown">
    				
			<span class="nav-link">Want To Contribute</span>
			<div class="dropdown-item">
				<a href="{% url 'Notes_form' %}">Notes</a>
				<br>
				<a href="{% url 'Books_form' %}">Books</a>
				<br>
				<a href="{% url 'Papers_form' %}">Exam Papers</a>
				<br>
				</div>
    			</li>

{% if user.is_authenticated %}
        <li class="nav-item">
          <a href="#" class="nav-link text-white">Welcome {{user.username}}!</a>  
        </li>
        <li>

        <form class="form-inline nav-item" action="{% url 'logout' %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="btn btn-success ml-2">Log out</button>
        </form>
    </li>
        {% else %}
        
        <li class="nav-item">
          <a class="nav-link" href="{% url 'signup' %}">Sign up</a>
        </li>
        {% endif %}


   
    		
    			</ul>
    		</div></nav>



       {% block content %}
       {% endblock %}
   
   <footer class="bg-light">
					
						<div class="continer">
							<div class="row ml-2">
                             <div class="col-12 col-sm-6 col-lg-3">
					         <h6>About Us</h6>
					         Hello We are Here to provide all the study material of our college. 
					     </div>

								<div class="col-12 col-sm-6 col-lg-3">
							<h6>Quick links</h6>
							<ul class="list-unstyled">
								<li><a href="#">Home</a></li>
								<li><a href="#">Want to Contribute</a></li>
								
							</ul></div>
							
							
							<div class="col-12 col-sm-6 col-lg-3">
                             <h6>Follow us</h6>

                             <ul class="list-unstyled">
								<li><a href="#"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i>Facebook</a></li>
								
								<li><a href="#"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i>Twitter</a></li>
								
								<li><a href="#"><i class="fa fa-linkedin fa-fw" aria-hidden="true"></i>Linkedin</a></li>
							</ul>
						
					</div>
					<div class="col-12 col-sm-6 col-lg-3">
						<h6>Our location:</h6>
						<address>
							<strong>GCS</strong></br>
							Kalpana Chawla<br>
							BIET Jhansi<br>
							India<br>
							<i class="fa fa-phone fa-fw" aria-hidden="true"></i>
							<span class="sr-only">Mobile</span><a href="tel:+1217363600">8476935639</a><br>
							<i class="fa fa-inbox fa-fw" aria-hidden="true"></i><span class="sr-only">Mail</span><a href="mailto:info@Cameo.com">GCS@gmail.com</a>
						</address></div></div>
						<div class="row">
							<div class="col-12 col-sm-6 col-lg-9">
						<ul class="list-inline">
							<li class="list-inline-item">&copy;2020 GCS</li>
							<li class="list-inline-item">All right reserved</li>
							<li class="list-inline-item"><a href="#" data-toggle="modal" data-target="#modal">Terms of use and privacy policy</a></li>
						</ul></div>
						</div></div></div></div></footer>
	</body>
	</html>
