{% extends "Notes/base.html" %}
{% load static %}

{% block content %}
<div class="text-center m-2 text-danger"><H1 class="m-4"><strong> Spend Less, Read More
 </strong></H1>
</div>
<div class="container card ">
	<h3 class="text-center text-primary mt-3"> No worry when GCS is here!!
	<h4 class="text-center text-success"> {{branch}}</h4>
	<h4 class="text-center text-success">{{year}} year</h4>
	
	<br>
	<br>
	

	{% for books in books_cs_details %}
	{% if books.num_likes > books.num_dislikes|add:books.num_dislikes %}
	<div class="jumbotron">
	<br>
	<h5>SUBJECT : {{ books.subject }}</h5>
	
	<br>
<h5>Author : {{ books.author }}</h5>
	
	<br>

	

	<h5> Published Year : {{ books.published_year }}</h5>
	
	<br>
	<h5><a href="{{ books.data.url }}">Have a  look <i class="fa fa-link"></i></a></h5> 

	<form action="{% url 'likes_books' year branch  %}" method="POST">
		{% csrf_token %}
	<button type="submit" class="btn btn-primary mr-1 float-left" name="books_id" value="{{books.id}}">UpVote</button>
</form>
	<form action="{% url 'dislikes_books' year branch  %}" method="POST">
		{% csrf_token %}
	<button type="submit" class="btn btn-danger " name="books_id" value="{{books.id}}">DownVote</button>
</form>
	<p>{{books.num_likes}}&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    {{books.num_dislikes}} </p>

</div>
<hr>
{% endif %}
	{% endfor %}

</div>
</div>

{% endblock content %}