{% extends "Notes/base.html" %}
{% load static %}

{% block content %}

<div class="container p-5 align-item-center">
<div class="row align-items-center">
<div class="col-sm-4 align-items-center">
<img class="m-2 responsive img-fluid img-rounded" src="{% static 'Notes/images/book.jpg' %}" alt="cannot upload">
</div>
<div class="col-sm-8 align-items-center text-center">

<h1 class= "text-warning" >No Books? No Worries!!!!</h1>
<h3 class="text-success">We got that covered. Get all the e-books <br>
	you will ever need</h3>




</div>
</div>
</div>

<div class="row align-item-center">
	

	<div class="col-sm-2">
     <span class="dropdown btn bt-primary text-light bg-primary float-left m-3 ml-4"><a class="text-light" href="{% url 'booksyrbranch' year='1st' branch='NOBRANCH' %}">First Year</a></span>
 </div>
<div class="dropdown col-sm-2">
			<span class="btn bt-primary text-light bg-primary float-left m-3">Second Year</span>
			<div class="dropdown-item">
				<a href="{% url 'booksyrbranch' year='2nd' branch='CSE' %}">CSE</a>
				<br>
				<a href="{% url 'booksyrbranch' year='2nd' branch='IT' %}" >IT</a>
				<br>
				<a href="{% url 'booksyrbranch' year='2nd' branch='EC' %}" >EC</a>
				<br>
				<a href="{% url 'booksyrbranch' year='2nd' branch='EE' %}" >EE</a>
				<br>
				<a href="{% url 'booksyrbranch' year='2nd' branch='ME' %}" >ME</a>
				<br>
				<a href="{% url 'booksyrbranch' year='2nd' branch='CE' %}" >CE</a>
				<br>
				<a href="{% url 'booksyrbranch' year='2nd' branch='CH' %}" >CH</a>
				<br>
			

			</div>
</div>

			
			
		
<div class="dropdown col-sm-2">
			<span class="btn bt-primary text-light bg-primary float-left m-3">Third Year</span>
			<div class="dropdown-item">
				<a href="{% url 'booksyrbranch' year='3rd' branch='CSE' %}">CSE</a>
				<br>
				<a href="{% url 'booksyrbranch' year='3rd' branch='IT' %}" >IT</a>
				<br>
				<a href="{% url 'booksyrbranch' year='3rd' branch='EC' %}" >EC</a>
				<br>
				<a href="{% url 'booksyrbranch' year='3rd' branch='EE' %}" >EE</a>
				<br>
				<a href="{% url 'booksyrbranch' year='3rd' branch='ME' %}" >ME</a>
				<br>
				<a href="{% url 'booksyrbranch' year='3rd' branch='CE' %}" >CE</a>
				<br>
				<a href="{% url 'booksyrbranch' year='3rd' branch='CH' %}" >CH</a>
				<br>
			

			

			</div>
</div>

			
<div class="dropdown col-sm-2">
			
      <span class="btn bt-primary text-light bg-primary float-left m-3">Final Year</span>
			<div class="dropdown-item">
				<a href="{% url 'booksyrbranch' year='Final' branch='CSE' %}">CSE</a>
				<br>
				<a href="{% url 'booksyrbranch' year='Final' branch='IT' %}" >IT</a>
				<br>
				<a href="{% url 'booksyrbranch' year='Final' branch='EC' %}" >EC</a>
				<br>
				<a href="{% url 'booksyrbranch' year='Final' branch='EE' %}" >EE</a>
				<br>
				<a href="{% url 'booksyrbranch' year='Final' branch='ME' %}" >ME</a>
				<br>
				<a href="{% url 'booksyrbranch' year='Final' branch='CE' %}" >CE</a>
				<br>
				<a href="{% url 'booksyrbranch' year='Final' branch='CH' %}" >CH</a>
				<br>
			

			</div>
</div>
</div>

{% endblock content %}