{% extends 'Notes/base.html'  %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container my-4">
	<div class="jumbotron jumbotron-fluid">

            <h3 class="mb-3 text-center text-primary">Your One Contribution may help many!</h3>
            <h4 class="mb-3 text-center">So what are you waiting for, go ahead and fill up the form</h4>
            
            
  <div
            class="col-12 col-sm-8 col-md-6 col-lg-4 offset-sm-2 offset-md-3 offset-lg-4"
          >
    {% if user.is_authenticated %}
    
    <form method="POST" class="Note_form mb-3" enctype="multipart/form-data">
      {% csrf_token %}
       
      	<div class="row">
        <div class="form-group col-12 ">
             {{ form.year|as_crispy_field }}
        </div>

        
      		<div class="form-group col-12 ">
             {{ form.branch|as_crispy_field }}
        </div>

        
      	
      		<div class="form-group col-12 ">
             {{ form.subject|as_crispy_field }}
        </div>

        
      	
      		<div class="form-group col-12 ">
             {{ form.teacher|as_crispy_field }}
        </div>
        
      	
      		<div class="form-group col-12 ">
             {{ form.data|as_crispy_field }}
        </div>
        <button type="submit" class="btn btn-primary btn-block mb-3">
                Submit
              </button>
        
        </div>
    </form>

{% else %}
<h5 class="text-danger text-center mb-3"> Please Login First.<a href="{% url 'home' %}">Click Here</a></h5>
{% endif %}
</div>
  </div>
</div>

{% endblock %}