{% extends "Notes/base.html" %}
{% load static %}

{% block content %}
<div class="mb-5 w-100">
    <div>
        <h1 class="text-center mt-5 text-primary">Discussion Panel</h1>
    <div class="float-right m-5">

              <form class="form-inline m-1 float-left" method="GET">
                <input ttype="text"
                  placeholder="Search By Tags ....."
                  class="form-control"
                  id='id_q'
                  name="q"
                   class="form-control mr-sm-2" 
                    araia-label="search">
                <a href="{% url 'discussion_list' %}" >
                  <i class="fa fa-search m-2"></i>
                </a>
            </form>
            {% if user.is_authenticated %}
            <div class="badge badge-warning m-2 float-left"><a href="{% url 'ask_doubt' %}" class="top-menu text-center"><i class="fa fa-plus"> Ask Doubt</i></a></div>
            {% endif %}
     </div>   
    </div>
     </div>


	<
<div class="container card">
    
    
    <h2 class="text-center mt-5 text-danger">Feel free to ask anything &#x1F60A;</h2>
    <br>
    <br>
    

        


{% if not posts %}
<div class="emptyss text-center">
    <h4 class="text-center mt-5"> No Disscussion:(</h4>
</div>
{% endif %}





            {% for post in posts %}
            <div class="jumbotron bg-white">
           

                    <h5><a  class="cards-title" href="{% url 'disccusion_detail' pk=post.pk%}">{{ post.title }}</a></h5>
                    
                                  
                   
                {% for tag in post.tags.all %}
                 <div class="badge badge-primary m-2">{{tag}}</div>
                 {% endfor %}  
                <br>
                <br>
           
                
                   
                 <p class="cards-subtitle small"><b>Posted On </b>: {{ post.published_date }}</p>
                 <br>
                 <p class="cards-subtitle small"><b>Posted By</b>: {{post.user.username}}</p>
                 <br>
                 
             
          <hr class="bg-dark">     
        </div>
        
        <br>
       
            {% endfor %}
        </div>
     <div class="pagination m-2">
        
         <span class="step-links">
       
     {% if posts.has_previous %}
     <a class="btn btn-outline-primary" href="?page=1">&laquo;First</a>
     <a class="btn btn-outline-primary" href="?page={{posts.previous_page_number}}">Previous</a>
     {% endif %}
     <span class="step-link">
     <a class="btn btn-primary" href="#">current</a>
 </span>
    
     {% if posts.has_next %}
            <a  class="btn btn-outline-primary" href="?page={{ posts.next_page_number }}">next</a>
            <a class="btn btn-outline-primary" href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
   
    </div>


</div>


{% endblock %}