{% extends "Notes/base.html" %}
{% load static %}

{% block content %}
<style>
.jumbotron{
        background-image:url({% static 'Notes/images/background.jpg' %});
        
        background-position: center;
        background-attachment: fixed;
        height: 540;
    }
</style>
<section id="section-top" class="jumbotron jumbotron-fluid text-white  align-items-center ">
<div class="container text-center">
	<mark>
	<div class="text-center text-white mt-5 h1"><b><i>GOD FOR COLLEGE STUDENTS</i></b></div></mark>
	</div>
            </section>
{% endblock content %}

