
{% extends "Notes/base.html" %}
{% load static %}

{% block content %}
<div class="text-center m-2 text-danger"><H1 class="m-4"><strong>I think it’s a new feature. <br>
 Don’t tell anyone it was an accident.</strong></H1>
</div>
<div class="container card">
	<h3> No worry when GCS is here!!
	<h3> {{branch}}</h3>
	<h3>{{year}}rd</h3>

	<br>
	<br>
	
	{% for notes in notes_cs_details %}
	
	<br>
	<h6>Subject</h6>
	{{ notes.subject }}
	<br>
<h6>Teacher</h6>
	{{ notes.teacher }}
	<br>

	
	<a href="{{ notes.data.url }}">{{notes.subject}} Pdf</a> 
	<br>
	<h6> Date of Upload</h6>
	{{ notes.Date_of_upload }}
	<br>
<hr>
	{% endfor %}
</div
</div>

{% endblock content %}