
{% extends "Notes/base.html" %}
{% load static %}

{% block content %}
<div class="text-center m-2 text-danger"><H1 class="m-4"><strong>I think it’s a new feature. <br>
 Don’t tell anyone it was an accident.</strong></H1>
</div>
<div class="container card ">
	<h3 class="text-center text-primary mt-3"> No worry when GCS is here!!
	<h4 class="text-center text-success"> {{branch}}</h4>
	<h4 class="text-center text-success">{{year}} year</h4>
	
	<br>
	<br>
	

	{% for notes in notes_cs_details %}

	{% if notes.num_likes > notes.num_dislikes|add:notes.num_dislikes %}
	<div class="jumbotron">
	<br>
	<h5>SUBJECT : {{ notes.subject }}</h5>
	
	<br>
<h5>Teacher : {{ notes.teacher }}</h5>
	
	<br>

	

	<h5> Date of Upload : {{ notes.Date_of_upload }}</h5>
	
	<br>
	<h5><a href="{{ notes.data.url }}">Have a  look <i class="fa fa-link"></i></a></h5> 
	<form action="{% url 'likes_notes' year branch  %}" method="POST">
		{% csrf_token %}
	<button type="submit" class="btn btn-primary mr-1 float-left" name="notes_id" value="{{notes.id}}">UpVote</button>
</form>
	<form action="{% url 'dislikes_notes' year branch  %}" method="POST">
		{% csrf_token %}
	<button type="submit" class="btn btn-danger " name="notes_id" value="{{notes.id}}">DownVote</button>
</form>
	<p>{{notes.num_likes}}&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    {{notes.num_dislikes}} </p>
</div>
<hr>
{% endif %}
	{% endfor %}

</div>
</div>

{% endblock content %}