

{% extends "Notes/base.html" %}
{% load static %}

{% block content %}

<div class="container p-5 align-item-center">
<div class="row align-items-center">
<div class="col-12 col-lg-6 align-items-center">
<img class="notes img-rounded" src="{% static 'Notes/images/notesback.jpg' %}" alt="cannot upload">
</div>
<div class="col-12 col-lg-6 align-items-center text-center">

<h1 class= "text-warning" >Too Lazy to make Notes?</h1>
<h3 class="text-primary">We are here for you</h3>
<h3 class="text-primary">Providing Toppers Note <br>
without asking....</h3>



</div>
</div>
</div>



<div class="dropdown m-2">
<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">First Year
<span class="caret"></span></button>
<ul class="dropdown-menu">
   <li class="dropdown-submenu">
        <a class="test" tabindex="-1" href="#">New dropdown <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a tabindex="-1" href="#">2nd level dropdown</a></li>
          <li><a tabindex="-1" href="#">2nd level dropdown</a></li>
 
</ul>
</li>
<li>hh</li>
</ul>
</div>

{% endblock content %}
