

{% extends "Notes/base.html" %}
{% load static %}

{% block content %}

<div class="container p-5 align-item-center">
<div class="row align-items-center">
<div class="col-12 col-lg-6 align-items-center">
<img class="books img-rounded" src="{% static 'Notes/images/paper.jpg' %}" alt="cannot upload">
</div>
<div class="col-12 col-lg-6 align-items-center text-center">

<h1 class= "text-warning" >Worries About Exam?</h1>
<h3 class="text-primary">No issue!!!</h3>
<h3 class="text-primary">Providing you Last Years Papers<br>
To Boost up your preperation</h3>



</div>
</div>
</div>

	
<div class="YearWise container align-items-center">
     <span class="btn bt-primary text-light bg-primary float-left m-5"><a class="text-light" href="{% url 'papersyrbranch' year='1st' branch='NOBRANCH' %}">First Year</a></span>
<div class="dropdown">
			<span class="btn bt-primary text-light bg-primary float-left m-5">Second Year</span>
			<div class="dropdown-item">
				<a href="{% url 'papersyrbranch' year='2nd' branch='CSE' %}">CSE</a>
				<br>
				<a href="{% url 'papersyrbranch' year='2nd' branch='IT' %}" >IT</a>
				<br>
				<a href="{% url 'papersyrbranch' year='2nd' branch='EC' %}" >EC</a>
				<br>
				<a href="{% url 'papersyrbranch' year='2nd' branch='EE' %}" >EE</a>
				<br>
				<a href="{% url 'papersyrbranch' year='2nd' branch='ME' %}" >ME</a>
				<br>
				<a href="{% url 'papersyrbranch' year='2nd' branch='CE' %}" >CE</a>
				<br>
				<a href="{% url 'papersyrbranch' year='2nd' branch='CH' %}" >CH</a>
				<br>
			

			</div>
</div>

			
			
		
<div class="dropdown">
			<span class="btn bt-primary text-light bg-primary float-left m-5">Third Year</span>
			<div class="dropdown-item">
				<a href="{% url 'papersyrbranch' year='3rd' branch='CSE' %}">CSE</a>
				<br>
				<a href="{% url 'papersyrbranch' year='3rd' branch='IT' %}" >IT</a>
				<br>
				<a href="{% url 'papersyrbranch' year='3rd' branch='EC' %}" >EC</a>
				<br>
				<a href="{% url 'papersyrbranch' year='3rd' branch='EE' %}" >EE</a>
				<br>
				<a href="{% url 'papersyrbranch' year='3rd' branch='ME' %}" >ME</a>
				<br>
				<a href="{% url 'papersyrbranch' year='3rd' branch='CE' %}" >CE</a>
				<br>
				<a href="{% url 'papersyrbranch' year='3rd' branch='CH' %}" >CH</a>
				<br>
			

			

			</div>
</div>

			
<div class="dropdown">
			
      <span class="btn bt-primary text-light bg-primary float-left m-5">Final Year</span>
			<div class="dropdown-item">
				<a href="{% url 'papersyrbranch' year='Final' branch='CSE' %}">CSE</a>
				<br>
				<a href="{% url 'papersyrbranch' year='Final' branch='IT' %}" >IT</a>
				<br>
				<a href="{% url 'papersyrbranch' year='Final' branch='EC' %}" >EC</a>
				<br>
				<a href="{% url 'papersyrbranch' year='Final' branch='EE' %}" >EE</a>
				<br>
				<a href="{% url 'papersyrbranch' year='Final' branch='ME' %}" >ME</a>
				<br>
				<a href="{% url 'papersyrbranch' year='Final' branch='CE' %}" >CE</a>
				<br>
				<a href="{% url 'papersyrbranch' year='Final' branch='CH' %}" >CH</a>
				<br>
			

			</div>
</div>
</div>

	</div>		
{% endblock content %}
