{% extends 'Notes/base.html'  %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="signup container my-3">
<div class="jumbotron jumbotron-fluid">
      
        
          
            <h1 class="mb-3 text-center">Create a new account</h1>
            
            
    <form class ="mb-3" method="POST" class="SignUp-form">
      {% csrf_token %}
      	<div class="row">
      	
      	
      		

       
      	
      		<div class="form-group col-12 ">
             {{ form.username|as_crispy_field }}
        </div>

        
      		<div class="form-group col-12 ">
             {{ form.Name|as_crispy_field }}
        </div>

        
      	
      		<div class="form-group col-12 ">
             {{ form.Email|as_crispy_field }}
        </div>

        
      	
      		<div class="form-group col-12 ">
             {{ form.Branch|as_crispy_field }}
        </div>
        
      	
      		<div class="form-group col-12 ">
             {{ form.Year|as_crispy_field }}
        </div>

        
      	
      	
      		<div class="form-group col-12 ">
             {{ form.password1|as_crispy_field }}
        </div>

        
      	
      		<div class="form-group col-12 ">
             {{ form.password2|as_crispy_field }}
        </div>

    <button type="submit" class="btn btn-primary btn-block mb-3">
                Create account
              </button>
    <h4 class="text-center">Already Have an Account? <a href="{% url 'home' %}">Login here</a></h4>
    </div>
    </form>
</div>
  </div>


{% endblock %}